@media (max-width: 910px) {
	.navbar-header{
		display: none;
	}
	.page-wrapper{
		min-height: 562px !important;
		/*min-height: 40em !important;*/
	}
	.card-body{
		padding-top: 0px;
	}
	.lititulopruebas{
		display: none;
	}
	.card{
		margin-bottom: 0px;
	}

}
.qrsacaner{
	height: 250px;
}
#v {
    width: 110%;
    height: 390px;
}
