@charset "UTF-8";
.cropper-wrap-box, .cropper-canvas, .cropper-drag-box, .cropper-crop-box, .cropper-modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.cropper-center:before, .cropper-center:after {
  background-color: #e6edef;
  content: ' ';
  display: block;
  position: absolute; }

.cropper-face, .cropper-line, .cropper-point {
  display: block;
  height: 100%;
  opacity: .1;
  position: absolute;
  width: 100%; }

.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .cropper-container img {
    display: block;
    height: 100%;
    image-orientation: 0deg;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    width: 100%; }

.cropper-wrap-box {
  overflow: hidden; }

.cropper-canvas {
  overflow: hidden; }

.cropper-drag-box {
  background-color: #fff;
  opacity: 0; }

.cropper-modal {
  background-color: #000;
  opacity: .5; }

.cropper-view-box {
  display: block;
  height: 100%;
  outline-color: #1770aa;
  outline: 1px solid #1770aa;
  overflow: hidden;
  width: 100%; }

.cropper-dashed {
  border: 0 dashed #e6edef;
  display: block;
  opacity: .5;
  position: absolute; }
  .cropper-dashed.dashed-h {
    border-bottom-width: 1px;
    border-top-width: 1px;
    height: 33.33333%;
    left: 0;
    top: 33.33333%;
    width: 100%; }
  .cropper-dashed.dashed-v {
    border-left-width: 1px;
    border-right-width: 1px;
    height: 100%;
    left: 33.33333%;
    top: 0;
    width: 33.33333%; }

.cropper-center {
  display: block;
  height: 0;
  left: 50%;
  opacity: .75;
  position: absolute;
  top: 50%;
  width: 0; }
  .cropper-center:before {
    height: 1px;
    left: -3px;
    top: 0;
    width: 7px; }
  .cropper-center:after {
    height: 7px;
    left: 0;
    top: -3px;
    width: 1px; }

.cropper-face {
  background-color: #fff;
  left: 0;
  top: 0; }

.cropper-line {
  background-color: #1770aa; }
  .cropper-line.line-e {
    cursor: ew-resize;
    right: -3px;
    top: 0;
    width: 5px; }
  .cropper-line.line-n {
    cursor: ns-resize;
    height: 5px;
    left: 0;
    top: -3px; }
  .cropper-line.line-w {
    cursor: ew-resize;
    left: -3px;
    top: 0;
    width: 5px; }
  .cropper-line.line-s {
    bottom: -3px;
    cursor: ns-resize;
    height: 5px;
    left: 0; }

.cropper-point {
  background-color: #1770aa;
  height: 5px;
  opacity: .75;
  width: 5px; }
  .cropper-point.point-e {
    cursor: ew-resize;
    margin-top: -3px;
    right: -3px;
    top: 50%; }
  .cropper-point.point-n {
    cursor: ns-resize;
    left: 50%;
    margin-left: -3px;
    top: -3px; }
  .cropper-point.point-w {
    cursor: ew-resize;
    left: -3px;
    margin-top: -3px;
    top: 50%; }
  .cropper-point.point-s {
    bottom: -3px;
    cursor: s-resize;
    left: 50%;
    margin-left: -3px; }
  .cropper-point.point-ne {
    cursor: nesw-resize;
    right: -3px;
    top: -3px; }
  .cropper-point.point-nw {
    cursor: nwse-resize;
    left: -3px;
    top: -3px; }
  .cropper-point.point-sw {
    bottom: -3px;
    cursor: nesw-resize;
    left: -3px; }
  .cropper-point.point-se {
    bottom: -3px;
    cursor: nwse-resize;
    height: 20px;
    opacity: 1;
    right: -3px;
    width: 20px; }
    .cropper-point.point-se:before {
      background-color: #1770aa;
      bottom: -50%;
      content: ' ';
      display: block;
      height: 200%;
      opacity: 0;
      position: absolute;
      right: -50%;
      width: 200%; }

.cropper-invisible {
  opacity: 0; }

.cropper-bg {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC"); }

.cropper-hide {
  display: block;
  height: 0;
  position: absolute;
  width: 0; }

.cropper-hidden {
  display: none !important; }

.cropper-move {
  cursor: move; }

.cropper-crop {
  cursor: crosshair; }

.cropper-disabled .cropper-drag-box {
  cursor: not-allowed; }

.cropper-disabled .cropper-face {
  cursor: not-allowed; }

.cropper-disabled .cropper-line {
  cursor: not-allowed; }

.cropper-disabled .cropper-point {
  cursor: not-allowed; }

.img-cropper .btn {
  padding: 6px 15px; }

.img-cropper label.btn {
  margin-bottom: 0; }

.img-cropper .d-flex > .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.img-cropper .carbonads {
  border-radius: .25rem;
  border: 1px solid #ccc;
  font-size: .875rem;
  overflow: hidden;
  padding: 1rem; }

.img-cropper .carbon-wrap {
  overflow: hidden; }

.img-cropper .carbon-img {
  clear: left;
  display: block;
  float: left; }

.img-cropper .carbon-text,
.img-cropper .carbon-poweredby {
  display: block;
  margin-left: 140px; }

.img-cropper .carbon-text,
.img-cropper .carbon-text:hover,
.img-cropper .carbon-text:focus {
  color: #fff;
  text-decoration: none; }

.img-cropper .carbon-poweredby,
.img-cropper .carbon-poweredby:hover,
.img-cropper .carbon-poweredby:focus {
  color: #ddd;
  text-decoration: none; }

.img-cropper .carbonads {
  float: right;
  margin-bottom: -1rem;
  margin-top: -1rem;
  max-width: 360px; }

.img-cropper .heart {
  color: #ddd;
  display: block;
  height: 2rem;
  line-height: 2rem;
  margin-bottom: 0;
  margin-top: 1rem;
  position: relative;
  text-align: center;
  width: 100%; }

.img-cropper .heart:hover {
  color: #ff4136; }

.img-cropper .heart::before {
  border-top: 1px solid #eee;
  content: " ";
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%; }

.img-cropper .heart::after {
  background-color: #fff;
  content: "♥";
  padding-left: .5rem;
  padding-right: .5rem;
  position: relative;
  z-index: 1; }

.img-cropper .img-container,
.img-cropper .img-preview {
  background-color: #f7f7f7;
  text-align: center;
  width: 100%; }

.img-cropper .img-container {
  margin-bottom: 1rem;
  max-height: 497px;
  min-height: 200px; }
  .img-cropper .img-container .cropper-bg {
    width: 100% !important; }

.img-cropper .img-container {
  min-height: 497px; }

.img-cropper .img-container > img {
  max-width: 100%; }

.img-cropper .docs-preview {
  margin-right: -1rem; }

.img-cropper .img-preview {
  float: left;
  margin-bottom: .5rem;
  margin-right: .5rem;
  overflow: hidden; }

.img-cropper .img-preview > img {
  max-width: 100%; }

.img-cropper .preview-lg {
  height: 9rem;
  width: 16rem; }

.img-cropper .preview-md {
  height: 4.5rem;
  width: 8rem; }

.img-cropper .preview-sm {
  height: 2.25rem;
  width: 4rem; }

.img-cropper .preview-xs {
  height: 1.125rem;
  margin-right: 0;
  width: 2rem; }

.img-cropper .docs-data > .input-group {
  margin-bottom: .5rem; }

.img-cropper .docs-data .input-group-prepend .input-group-text {
  min-width: 4rem; }

.img-cropper .docs-data .input-group-append .input-group-text {
  min-width: 3rem; }

.img-cropper .docs-buttons > .btn,
.img-cropper .docs-buttons > .btn-group,
.img-cropper .docs-buttons > .form-control {
  margin-bottom: 10px;
  margin-right: 10px; }

.img-cropper .docs-toggles > .btn,
.img-cropper .docs-toggles > .btn-group,
.img-cropper .docs-toggles > .dropdown {
  margin-bottom: .5rem; }

.img-cropper .docs-tooltip {
  display: block;
  font-size: 14px;
  letter-spacing: 1px; }

.img-cropper .docs-tooltip > .icon {
  margin: 0 -.25rem;
  vertical-align: top; }

.img-cropper .tooltip-inner {
  white-space: normal; }

.img-cropper .btn-upload .tooltip-inner,
.img-cropper .btn-toggle .tooltip-inner {
  white-space: nowrap; }

.img-cropper .btn-toggle {
  padding: .5rem; }

.img-cropper .btn-toggle > .docs-tooltip {
  margin: -.5rem;
  padding: .5rem; }

.img-cropper .btn-group-crop {
  margin-right: 5px !important; }

.img-cropper .btn-group-crop > .btn {
  padding-left: .5rem;
  padding-right: .5rem; }

.img-cropper .btn-group-crop .docs-tooltip {
  margin-left: -.5rem;
  margin-right: -.5rem;
  padding-left: .5rem;
  padding-right: .5rem; }

.img-cropper .docs-options .dropdown-menu {
  width: 100%; }

.img-cropper .docs-options .dropdown-menu > li {
  font-size: .875rem;
  padding: .125rem 1rem; }

.img-cropper .docs-options .dropdown-menu .form-check-label {
  display: block; }

.img-cropper .docs-cropped .modal-body {
  text-align: center; }

.img-cropper .docs-cropped .modal-body > img,
.img-cropper .docs-cropped .modal-body > canvas {
  max-width: 100%; }
/*# sourceMappingURL=image-cropper.css.map */
