#privacity ol li {
  list-style-type: decimal
}
#privaciy li {
	text-align: justify;
}
.letras li {
   list-style-type: upper-latin;
}

article {
	width: 100%;
	padding-right: 25px;
}

@media print {
	
	html {
		margin: 20px;
	}
	
	header {
		display: none;
	}
	
	@page {
		margin: 1.5cm 0.5 0.5 0.5;
	}
	
	body {
		font-size: 6.5pt;
		line-height: 7pt;
		margin: 0cm;
		padding: 0cm;
		text-align: justify;
	}
	
	#privaciy {
		column-count: 3;
		-webkit-column-count: 3;
    	-moz-column-count: 3;
    	width: 100%;
	}
	
	#privaciy > ol {
		margin: 0cm;
		padding: 0cm;
		width: 100%;
		vertical-align: top;		
	}	
	
	.digitalSign {
		display: none;
	}
}